
 body {
  font-family: 'Lato', sans-serif;
  font-weight: 400; 
 }

/* RAY HEADING */
.TB1 {
    
    text-align: center;
}

/* COVID ALERT HEADING */
.CA {
    text-align: center;
    text-decoration: underline;
    
}
/* COVID INFO PARAGRAPH */
.covidp {
    text-align: center;
    padding: 4px;
    border-color: rgb(163, 162, 162);
    color: black;
    text-indent: 10px;
    letter-spacing: 3px;
    
}
/* COVID PARAGRAPH */
.CP {
    text-align: center;
    padding: 4px;
    border-color: rgb(163, 162, 162);
    color: black;
    letter-spacing: 3px;
    
}
 /* COVID ORDERING HEADING */
.OR {
    text-align: center;
    text-decoration: underline;
    
}
 /* GRUBHUB & DOODASH LOGO */
* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;

  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
 /* BORDER IN MAIN PAGE */
  .A1 {
    text-align: center;
    border-style: outset;
    border-width: 5px;
    border-radius: 5px;
    padding: 4px;
    border-color: rgb(163, 162, 162);
  }

  .CLASS table, td {
      text-align: center;
      color: black;
      letter-spacing: 3px;
      width: 60%;
  }

  .sidebar {
    text-align: center;
    color: black;
    letter-spacing: 3px;

  }

  table.center {
    margin-left: auto; 
    margin-right: auto;
  }

  th:hover {background-color:#f5f5f5;}

  .FT {
      text-align: center;
  }
  /* FOOTER HIGHLIGHT*/
  a:hover {background-color:#f5f5f5;}


  /******Menu Page******/

  /* Section Grid Positioning */
  .steak-sect, .burger-sect, .chicken-sect, .dessert-sect{
    position: grid;
    grid-template-columns: auto auto auto auto;

  }

  /* Menu Img Sizing */
  .menu-food-img img{
    height: 20rem;
    width: 20rem;
  }