body{
    text-align: center;
}

.hero{
    background-image: url(images/hero.jpg);
    height: 95vh;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.ray{
    height: 10rem;
    width: 10rem;
    background-image: url(images/ray.jpg);
    background-size: cover;
}