body{
    text-align: center;
}

.navbar{
    position: relative;
}

.nav-options-container{
    position: absolute;
}

.nav-options{
    position: grid;
    grid-template-columns: auto;
    
}

.hero{
    background-image: url(images/hero.jpg);
    height: 95vh;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.ray{
    height: 10rem;
    width: 10rem;
    background-image: url(images/ray.jpg);
    background-size: cover;
}